[submodule "omlimport"]
	path = omlimport
	url = git@git.vauxoo.com:Vauxoo/omlimport.git
	branch = 13.0
[submodule "server-tools"]
	path = server-tools
	url = git@github.com:Vauxoo/server-tools.git
	branch = 13.0
